<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="60">

    <properties>
        <Property name="pattern">%date [%thread] %-5level %logger{50} - %msg%n</Property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="main"
                     fileName="logs/main.log"
                     filePattern="backup/logs/new/main.log-%d{yyyy-MM-dd}.%i.zip">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="spring"
                     fileName="logs/spring.log"
                     filePattern="backup/logs/new/spring.log-%d{yyyy-MM-dd}.%i.zip">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="jobs"
                     fileName="logs/jobs.log"
                     filePattern="backup/logs/new/jobs.log-%d{yyyy-MM-dd}.%i.zip">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="tasks"
                     fileName="logs/tasks.log"
                     filePattern="backup/logs/new/tasks.log-%d{yyyy-MM-dd}.%i.zip">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="main"/>
        </Root>

        <logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="spring"/>
        </logger>

        <logger name="ru.clinic.application.ClinicApplicationStarter" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="main"/>
        </logger>

        <logger name="ru.clinic.application.fx.frames" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="main"/>
        </logger>

        <logger name="ru.clinic.application.dao" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="main"/>
        </logger>

        <logger name="ru.clinic.application.service" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="main"/>
        </logger>

        <logger name="ru.clinic.application.fx.controllers" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="main"/>
        </logger>

        <logger name="ru.clinic.application.service.AppSchedules" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="tasks"/>
        </logger>

        <logger name="ru.clinic.application.service.task" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="tasks"/>
        </logger>

        <logger name="ru.clinic.application.service.backup" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="tasks"/>
        </logger>

    </Loggers>
</configuration>