<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <!--Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
    </Console-->
    <File name="MyFile" fileName="logs/main.log">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    <File name="spring-file" fileName="logs/spring-file.log">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    <File name="spring-jdbc" fileName="logs/spring-jdbc.log">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        <logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="spring-file"/>
        </logger>

        <logger name="org.springframework.jdbc" level="DEBUG" additivity="false">
            <AppenderRef ref="spring-jdbc"/>
        </logger>

        <logger name="ru.clinic.application.java.Main" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>
        </logger>

        <logger name="ru.clinic.application.java.fx.frames" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>
        </logger>

        <logger name="ru.clinic.application.java.dao" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>
        </logger>

        <logger name="ru.clinic.application.java.service" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>
        </logger>

        <logger name="ru.clinic.application.java.fx.controllers" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>
        </logger>

    </Loggers>

</configuration>